
#install-btn {
    background: #0088cc; 
    background: -moz-linear-gradient(top,  #0088cc 0%, #0055cc 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0088cc), color-stop(100%,#0055cc)); 
    background: -webkit-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: -o-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: -ms-linear-gradient(top,  #0088cc 0%,#0055cc 100%); 
    background: linear-gradient(to bottom,  #0088cc 0%,#0055cc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0055cc',GradientType=0 ); 
    text-align: center;
    font-size: 200%;
    margin: 1em auto;
    display: block;
    padding: .5em;
    color: white;
    width: 10em;
    max-width: 80%;
    line-height: 1.2em;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  
}
.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  color: #aaaaaa;
}
.list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list ul li {
  margin: 0;
  padding: 1em .5em;
  border-top: 1px solid grey;
  cursor: pointer;
}
.anim-background {
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10000;
}
x-view,
x-listview {
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
x-view > header,
x-listview > header,
x-view > footer,
x-listview > footer {
  overflow: hidden;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(top, #c66a00, #b54d17);
  background: -o-linear-gradient(top, #c66a00, #b54d17);
  background: -ms-linear-gradient(top, #c66a00, #b54d17);
  background: -moz-linear-gradient(top, #c66a00, #b54d17);
  background: -webkit-linear-gradient(top, #c66a00, #b54d17);
  border-bottom: 1px solid #933212;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -o-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -ms-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
  color: white;
  height: 2em;
  padding: .5em 0;
}
x-view > header .navitems,
x-listview > header .navitems {
  height: 2em;
  float: right;
}
x-view > header .navitems.left,
x-listview > header .navitems.left {
  top: 0;
  left: 0;
  float: left;
}
x-view > header .navitems button,
x-listview > header .navitems button,
x-view > footer button,
x-listview > footer button {
  height: 100%;
  margin-right: .5em;
  margin-left: 0;
  font-size: .75em;
  border: 0;
}
x-view > header .navitems.left button,
x-listview > header .navitems.left button {
  margin-left: .5em;
  margin-right: 0;
}
x-view > header h1,
x-listview > header h1 {
  margin: 0;
  padding: 0;
  font-size: 2em;
  line-height: 40pt;
  text-align: center;
}
x-view > ._contents,
x-listview > ._contents {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
x-listview > ._contents > .contents {
  padding: 0;
}
@keyframes slideIn {
  
}
@font-face {  
  font-family: 'MozTTLight';  
  src: url(fonts/MozTT%20Light.ttf) format("truetype");  
}  
html, body {
    height: 100%;
}
body {
    font-family: 'MozTTLight', Verdana, sans-serif;
}
h1 {
    font: 2.2rem/4.8rem "Open Sans", Sans-serif;
}
x-view .contents {
    padding: 1em;
}
x-view h1 {
    margin-top: 0;
}
x-view.edit .field {
    margin-top: 1em;
}
x-listview.list li:before {
    content: ' ';
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/glyphicons-halflings.png) no-repeat -95px -2px;
    margin-right: 5px;
    vertical-align: middle;
}