
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#app .list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#app .list ul li {
    margin: 0;
    padding: 1em .5em;
    border-top: 1px solid grey;
    cursor: pointer;
}

#app > section {
    display: none;

    transition: height ease-out 0.3s;
	-o-transition: height ease-out 0.3s;
	-ms-transition: height ease-out 0.3s;
	-moz-transition: height ease-out 0.3s;
	-webkit-transition: height ease-out 0.3s;
}

#app > section.open {
    display: block;
}


#app {
    width: 100%;
    height: 100%;
}

header {
    overflow: hidden;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;

	background: linear-gradient(top, #c66a00, #b54d17);
	background: -o-linear-gradient(top, #c66a00, #b54d17);
	background: -ms-linear-gradient(top, #c66a00, #b54d17);
	background: -moz-linear-gradient(top, #c66a00, #b54d17);
	background: -webkit-linear-gradient(top, #c66a00, #b54d17);
	border-bottom: 1px solid #933212;
    box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-o-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-ms-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.7);
    color: white;

    display: none;
    height: 2em;
    padding: .5em 0;
}

.navbar .navitems {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;

    margin: .5em 0;
    height: 2em;
}

.navbar .navitems.left {
    top: 0;
    left: 0;
    text-align: left;
}

.navbar .navitems button {
    height: 100%;
    margin-right: .5em;
    margin-left: 0;
    font-size: .75em;
    border: 0;
}

.navbar .navitems.left button {
    margin-left: .5em;
    margin-right: 0;
}

#app > section {
    overflow: auto;
}

header h1 {
    margin: 0;
    position: relative;
    top: .03em;
    padding: 0;
    line-height: 1;
}